body{
    background-color: lightgrey;
}

section {
    max-width: 40%;
    display: inline-block;
    z-index: 10;
}

section:first-child{
    margin-right: 20%;
    color: white;
    z-index: 10;
  
}

.main-image {
    max-width: 300px;
    position: absolute;
    top: 10px;
    right: 50px;
    transition: 0.5s;
}
.main-image:hover {
    max-width: 400px;

    top: 0px;
    right: 0px;
}
main{
    background: linear-gradient(to right , #8A2387 , #E94057 , #F27121);
    box-shadow: 0px 0px 10px black;
    padding: 2%;
    margin: 5% 10%;
    z-index: 10;
    position: absolute;
    height: 70vh;
}

body::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right , #B92827 , #1565C0);
    box-shadow: 0px 0px 10px black;
    transform:  skewY(15deg);
    inset: 0;
    z-index: 0;
}